.cal-day{
    position: relative;
    display: inline-block;
    width: @dayW;
    height: @dayH;
    padding-right: 8px;
    font-size: 16px;
    // font-weight: bold;
    text-align: right;
    // line-height: 30px;
    border-radius: 6px;
    cursor: pointer;
    border: 2px solid #fff;
    background-color: rgb(255,255,255);
    transition: all ease 200ms;
    
    &:hover{
        background-color: rgba(0,0,0,0.125);
        // background-color: @themeColor;
        &:after{
            opacity: 0.85;
        }
    }
    &:after{
        content: '';
        position: absolute;
        opacity: 0;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background-image: url('/img/nav-plus-hover.png');
        background-size: 50%;
        background-position: center;
        background-repeat: no-repeat;
        transition: all ease 150ms;
    }

    &.day-1{
        margin-left: 1*@dayW;
    }
    &.day-2{
        margin-left: 2*@dayW;
    }
    &.day-3{
        margin-left: 3*@dayW;
    }
    &.day-4{
        margin-left: 4*@dayW;
    }
    &.day-5{
        margin-left: 5*@dayW;
    }
    &.day-6{
        margin-left: 6*@dayW;
    }
}