@dayW: 80px;
@dayH: 40px;

@weekBarH: 26px;

.calendar-view{
    position: relative;
    padding-top: @weekBarH;
    overflow: hidden;    // bfc
}

// popover content contrlled by Calendar
.popover .cal-post{
    margin: 0;
    line-height: 2;
    // font-size: 
    margin: 0.25em -1em;
    padding: 0 1em;
    background-color: transparent;
    cursor: pointer;
    transition: all 240ms ease;
    
    &:hover{
        color: #fff;
        background-color: #999;
    }
}

@import "./cal-month.less";
@import "./cal-day.less";
@import "./cal-weekbar.less";